@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
}

li {
  list-style: none;
  color: white;
  padding: 5px;
}

body {
  font-family: "Playfair Display", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: 053B50;
  color: #eeeeee;
}

.header {
  background-color: #176b87;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  /*flex: 2; */
}

#searchbar {
  margin: 10px 0;
  padding: 3px;
  font-size: 17px;
  width: 50%;
}

.searchbar {
  margin-left: 10px;
}

.main {
  /* background-color: #64CCC5; */
  display: block;
  margin: 65px 0px;
  /* background-color: green; */
  height: 65px;
  /* flex: 10; */
}

.footer {
  background-color: #176b87;
  position: fixed;
  width: 100%;
  /* display: block;
  background-color: red; */
  height: 65px;
  /* flex: 2; */
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fooer p {
  height: 100%;
}

.header__nav {
  /* background: rgb(249, 110, 110); */
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.header__nav__list {
  /* background: rgb(37, 32, 22); */

  display: flex;
  /* justify-content: flex-end; */
  gap: 9px;
  padding: 10px 10px;
}

.nav__item:hover {
  color: darkgreen;
}

.main__button__bar {
  display: flex;
  /* flex: 1 wrap; */
  flex-grow: 1;
  flex-wrap: wrap;
  /* align-items: baseline; */
  justify-content: center;
  align-content: flex-start;
  align-items: start;
}

.main__button__bar span {
  color: #232d3f;
  font-weight: 600;
  /* สีพื้นหลังของแต่ละ span */
  background-color: #64ccc5;
  padding: 10px; /* ขอบโดยรอบของแต่ละ span */
  margin: 5px 5px;
  border-radius: 8%;
}

.main__market {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex: 11; */
}

.market__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* flex: 1; */
  /* background: wheat; */
}

.market__form h2 {
  padding-left: 50px;
}
.market__photo {
  margin-top: 20px;
  margin-bottom: 70px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  /* flex: 5; */
  /* background-color: aliceblue; */
}

.market__photo div {
  width: 300px;
  background-color: #176b87;
  padding: 5px;
  border-radius: 10%;
}

.main__button__bar span:hover {
  box-shadow: 0 8px 16px 0 #ddf2fd;
  cursor: pointer;
}

.market__photo div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.just__form select {
  width: 200px;
  height: 100%;
  margin: 5px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .header__nav {
    flex: 1;
  }

  .header__nav__list {
    /* background-color: aquamarine; */
    flex: 1;
    justify-content: space-around;
  }

  .main__button__bar span {
    align-content: flex-start;
  }
}

@media (max-width: 480px) {
  .header {
    /* background-color: blueviolet; */
    flex-direction: column;
    flex: 3;
    justify-content: center;
    align-items: center;
  }

  .header__nav {
    flex: 1;
    order: -1;
  }

  .header__nav__list {
    flex-direction: column;
    align-items: center;
    padding: 4px;
  }

  .nav__item {
    padding: 5px;
    margin: 4px;
  }

  .main__button__bar {
    margin-top: 140px;
  }

  .market__form {
    justify-content: center;
  }

  .searchbar {
    display: flex;
  }

  #searchbar {
    width: 100%;
  }

  .searchbar label {
    display: none;
  }
}
